package ${package}.service.impl;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import java.util.List;
import java.util.Date;
import java.util.Map;
import java.util.HashMap;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;


import ${package}.dao.${className}Mapper;
import ${package}.domain.pojo.${className};
import ${package}.service.${className}Service;


/**
 * ${tableComment} 服务层实现
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${className}ServiceImpl implements ${className}Service
{
	private static final Logger log = LoggerFactory.getLogger(${className}ServiceImpl.class);
	@Autowired
	private ${className}Mapper ${classname}Mapper;

	/**
     * 查询${tableComment}信息
     * 
     * @param ${primaryKey.attrname} ${tableComment}ID
     * @return ${tableComment}信息
     */
    @Override
	public ${className} select${className}ById(${primaryKey.attrType} ${primaryKey.attrname})
	{
	    return ${classname}Mapper.select${className}ById(${primaryKey.attrname});
	}
	
	/**
     * 查询${tableComment}列表
     * 
     * @param ${classname} ${tableComment}信息
     * @return ${tableComment}集合
     */
	@Override
	public Map<String,Object> select${className}List(${className} ${classname})
	{
		Map<String,Object> resultMap = new HashMap<String,Object>();
		try {
			List<${className}> list = ${classname}Mapper.select${className}List(${classname});
			resultMap.put("code",0);
			resultMap.put("data",list);
		} catch (Exception e) {
			log.error("",e);
			throw new RuntimeException();
		}
		return resultMap;
	}
	
    /**
     * 新增${tableComment}
     * 
     * @param ${classname} ${tableComment}信息
     * @return 结果
     */
	@Override
	public Map<String,Object> insert${className}(${className} ${classname})
	{
		Map<String,Object> resultMap = new HashMap<String,Object>();
		try {
			${classname}.setCreateDate(new Date());
			${classname}Mapper.insert${className}(${classname});
			resultMap.put("code",0);
		} catch (Exception e) {
			log.error("",e);
			throw new RuntimeException();
		}
		return resultMap;
	}
	
	/**
     * 修改${tableComment}
     * 
     * @param ${classname} ${tableComment}信息
     * @return 结果
     */
	@Override
	public Map<String,Object> update${className}(${className} ${classname})
	{
		Map<String,Object> resultMap = new HashMap<String,Object>();
		try {
				${classname}Mapper.update${className}(${classname});
			resultMap.put("code",0);
		} catch (Exception e) {
			log.error("",e);
			throw new RuntimeException();
		}
		return resultMap;
	}

	/**
     * 删除${tableComment}对象
     * 
     * @param ids 需要删除的数据ID
     * @return 结果
     */
	@Override
	public Map<String,Object> delete${className}ByIds(String ids)
	{
		Map<String,Object> resultMap = new HashMap<String,Object>();
		try {
				${classname}Mapper.delete${className}ByIds(ids.split(","));
			resultMap.put("code",0);
		} catch (Exception e) {
			log.error("",e);
			throw new RuntimeException();
		}
		return resultMap;
	}
	//以上自动生成的尽量别动
}
