-- 菜单 SQL
insert into sys_menu (menu_code,menu_name, parent_menu_code, sort_order, menu_url,menu_type, menu_level, perms, menu_icon,enable_status, create_by, create_date, modify_by, modify_date, remarks)
values('1','${tableComment}', '0', 1, '/${moduleName}/${classname}', 'M', 1, '${moduleName}:${classname}:view', '#','1', 'admin', now(), null, now(), '${tableComment}菜单');

-- 按钮父菜单ID
SELECT @parentId := '1';

-- 按钮 SQL
insert into sys_menu  (menu_code,menu_name, parent_menu_code, sort_order, menu_url,menu_type, menu_level, perms, menu_icon,enable_status, create_by, create_date, modify_by, modify_date, remarks)
values('101','${tableComment}查询', @parentId, 1,  '#',  'B', 2, '${moduleName}:${classname}:list',         '#','1', 'admin', now(), null, now(), '');

insert into sys_menu  (menu_code,menu_name, parent_menu_code, sort_order, menu_url,menu_type, menu_level, perms, menu_icon,enable_status, create_by, create_date, modify_by, modify_date, remarks)
values('102','${tableComment}新增', @parentId, 2,  '#',  'B', 2, '${moduleName}:${classname}:add',          '#','1', 'admin', now(), null, now(), '');

insert into sys_menu  (menu_code,menu_name, parent_menu_code, sort_order, menu_url,menu_type, menu_level, perms, menu_icon,enable_status, create_by, create_date, modify_by, modify_date, remarks)
values('103','${tableComment}修改', @parentId, 3,  '#',  'B', 2, '${moduleName}:${classname}:edit',         '#','1', 'admin', now(), null, now(), '');

insert into sys_menu  (menu_code,menu_name, parent_menu_code, sort_order, menu_url,menu_type, menu_level, perms, menu_icon,enable_status, create_by, create_date, modify_by, modify_date, remarks)
values('104','${tableComment}删除', @parentId, 4,  '#',  'B', 2, '${moduleName}:${classname}:remove',       '#','1', 'admin', now(), null, now(), '');
